@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Configuration Management UI</h1>

    <br />
    <br />
    <br />
    <br />
    <h3>To <a href="/Config/Index">View/Update Config</a> </h3>
</div>
